<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center divpr">
  <h1 class="display-4 pb-5">Covid Info</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 ">
    <div class="smallc col mb-4 ">
      <div class="card-header bg-white box">
        <h4 class="my-0 font-weight-normal">Noticies</h4>

        <div class="card-body">
          <img src="assets/images/noticias.svg">

        </div>
        <div class="card-footer bg-white">
          <button type="button" class="btn btn-lg  btn-outline-primary " (click)="btnNoticies();">Entra</button>
        </div>
      </div>
    </div>


    <div class="smallc col mb-4 ">
      <div class="card-header bg-white box">
        <h4 class="my-0 font-weight-normal">Laboratoris</h4>

        <div class="card-body">
          <img src="assets/images/laboratoris.svg">

        </div>
        <div class="card-footer bg-white">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary " (click)="btnLaboratoris();">Entra</button>
        </div>
      </div>
    </div>


    <div class="smallc col mb-4 ">
      <div class="card-header bg-white box">
        <h4 class="my-0 font-weight-normal">Evolucio</h4>

        <div class="card-body">
          <img src="assets/images/evolucio.svg">

        </div>
        <div class="card-footer bg-white">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="btnEvolucio();">Entra</button>
        </div>
      </div>
    </div>

    <div class="smallc col mb-4 ">
      <div class="card-header bg-white box">
        <h4 class="my-0 font-weight-normal">Prova</h4>

        <div class="card-body">
          <img src="assets/images/prova.svg">

        </div>
        <div class="card-footer bg-white">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary " (click)="btnProva();">Entra</button>
        </div>
      </div>
    </div>



  </div>
</div>
