<footer class="bg-dark text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Covid-info App</h5>

        <p>
          Covid-Info es un web app qui dona informacions i dades sobre la pandemia del virus.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a routerLink="inici" class="text-white">Inici</a>
          </li>
          <li>
            <a routerLink="noticies" class="text-white">Noticies</a>
          </li>
          <li>
            <a routerLink="laboratoris" class="text-white">Laboratoris</a>
          </li>
          <li>
            <a routerLink="evolucio" class="text-white">Evolucio</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->

    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-white" routerLink="inici">Covid-Info</a>
  </div>
  <!-- Copyright -->
</footer>
